@charset "utf-8";
/* CSS Document */
nav{
    		margin-top:30px;
    		border:20px white;
    		border-color:white;
            
    	}
    	#navtext{
    		color:#D43200;
    		 font-weight: 700;
    		font-size: 20px;
    	}
     
    	body{
    		background-color: #ffe194;
    		font-family: 'Montserrat', sans-serif;
         background-image: url("img/sandpaper.png");''
         color: #ffeda3;
        
    	}
    	.logo-banner{
            width: 150px;
            display: block;
            margin-top: 30px;
    		margin-left: 30px;
            margin-right:30px;
    		pointer-events: none;
    	}
        .banner {
              pointer-events: none;
             width: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
  

          .contentblock, h6{
           
            margin-left: 30px;
            margin-right:30px;
                 
         }
         .navspace 
         {
            margin-left: 20px;
         }
         h4{
            margin-top: 20px;
             color:#D43200;
         }
         section {
            

         }
        .aboutmecontent{
            margin-left: 15px;
            margin-right:30px;
            margin-top: 50px;
            font-size: 20px;
             text-align: justify;
            text-justify: inter-word;
        }
        .description{
             text-align: justify;
                text-justify: inter-word;
            font-weight:500;
}

        h6{
          padding-top: 50px;
          font-size: 14px;
        }

        .carousel-control-prev{
          margin: -45px;
        }

        .carousel-control-next{
          margin: -45px;
        }
   
